# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven noise
target/

# gradle noise
.gradle

# osx noise
.DS_Store
profile

# IntelliJ Idea noise
.idea
*.iws
*.ipr
*.iml
*.releaseBackup
atlassian-ide-plugin.xml

# NB noise
nbactions.xml
nb-configuration.xml

# Eclipse noise
.settings
.settings/*
.project
.classpath
#.gitignore

# Maven plugins noise
dependency-reduced-pom.xml
pom.xml.versionsBackup
pom.xml.releaseBackup
release.properties

#sts noise
.springBeans

.factorypath

rebel.xml

